@media only screen and (max-width: 340px){

    .iframe{
        width: 288px;
        height: 162px;
        
    }
    
}

@media only screen and (min-width: 340px){

    .iframe{
        width: 320px;
        height: 180px;
        
    }
    
}

@media only screen and (min-width: 600px){

    .iframe{
        width: 560px;
        height: 315px;
        
    }
    
}

@media only screen and (min-width: 768px){

    .iframe{
        width: 720px;
        height: 405px;
        
    }
    
}